@media (max-width: $tablet-width) {
  ._accordion-active {
    .accordion__list {
      display: none;
    }

     h3 {
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 16px;
        height: 1px;
        background: $additional-color-three;
      }

      &::after {
        transform: rotate(90deg);
      }
    }

    &._accordion-open {
      .accordion__list{
        display: flex;
      }

       h3 {
        &::after {
          content: none;
        }
      }
    }
  }
}
