.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__item a {
  display: flex;
  align-items: center;
  min-height: 29px;
  margin: 10px 40px;

  span {
    font-family: "PT Mono", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: $secondary-color;
  }

  &:hover {
    span {
      color: $accent-color;
    }

    .contacts__svg {
      fill: $secondary-color;
    }
  }

  &:active {
    opacity: 0.7;
  }

  &:focus {
    outline: 1px dashed $accent-color;
  }
}

.contacts__item svg  {
  margin: 0 18px 0 0;
  fill: $accent-color;
}

@media (max-width: $desktop-width) {
  .contacts__item a {
    margin: 10px 0 17px 32px;

    span {
      @include visually-hidden;
    }
  }

  .contacts__item svg {
    margin: 0;
  }
}

.contacts__item {
  &--mail {
    svg{
      width: 25px;
      height: 19px;
    }
  }

  &--tel {
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

@media (max-width: $tablet-width) {
  .contacts__item a {
    margin: 0 0 5px 24px;
  }
}
