.feature {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 577px;
  height: 300px;
  padding: 35px 46px 48px;
  border: 1px solid $additional-color-four;
  border-left: 3px solid $accent-color;
  transition: all ease 2s;

  &:hover {
    background-color: $accent-color;
    border: 1px solid $accent-color;
    border-left: 3px solid $accent-color;

    .feature svg {
      fill: $secondary-color;
    }

    .feature h3,
    .feature p {
      color: $secondary-color;
    }
  }
}

.feature svg {
  fill: $accent-color;
  margin: 0 0 21px;
  transition: all ease 1s;
}

.feature h3 {
  margin: 0 0 15px;
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $accent-color;
  transition: all ease 2s;
}

.feature p {
  height: 103px;
  margin: 0;
  @include textFontStyles;
  color: $primary-color;
  transition: all ease 2s;
}

@media (max-width: $desktop-width) {
  .feature {
    justify-content: flex-start;
    width: auto;
    max-width: 48%;
    min-width: 345px;
    height: auto;
    min-height: 232px;
    padding: 24px 22px 20px 24px;
  }

  .feature svg {
    margin: 0 0 7px;
  }

  .feature h3 {
    margin: 0 0 10px;
  }

  .feature p  {
    height: auto;
  }
}

@media (max-width: $tablet-width) {
  .feature {
    max-width: 100%;
    min-width: 290px;
    padding: 24px 16px 20px 24px;
  }

  .feature svg {
    margin: 0 0 12px;
  }

  .feature h3 {
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 28px;
  }

  .feature p  {
    height: auto;
    max-height: 182px;
  }
}
