.feedback {
  padding: 92px 0 113px;
  background: $accent-color;
}

.feedback h2 {
  @include titlesFontStyles;
  margin: 0 0 10px;
  color: $secondary-color;
}

.feedback p {
  @include textFontStyles;
  margin: 0 0 50px;
  color: $secondary-color;
}

.feedback__wrapper {
  display: flex;
  justify-content: flex-end;
  background: url("../img/paper_airplane.png") no-repeat right 715px top 38%;
}

.feedback__inner-wrapper {
  max-width: 602px;
}

@media (max-width: $desktop-width) {
  .feedback {
    width: 100%;
    padding: 80px 0 105px;

  }

  .feedback__wrapper {
    justify-content: center;
    background-image: none;
  }

  .feedback__inner-wrapper {
    max-width: 590px;
  }

  .feedback h2 {
    margin: 0 0 15px;
  }

  .feedback p {
    margin: 0 5px 55px;
  }
}

@media (max-width: $tablet-width) {
  .feedback {
    padding: 30px 0 42px;
  }

  .feedback h2 {
    margin: 0 0 13px;
  }

  .feedback p {
    margin: 0 0 25px;
  }

  .feedback__inner-wrapper {
    max-width: 100%;
    padding: 0 15px;
  }
}
