.footer-top-line {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-width: 1490px;
  width: 100%;
  margin: auto;
  padding: 43px 0 35px;
}

.footer-top-line__column {
  display: flex;
  flex-direction: column;
  padding: 20px 28px;

  &--one {
    padding: 20px 28px 20px 38px;
  }

  &--two {
    box-sizing: border-box;
    flex-grow: 1;
    max-width: 485px;
    padding: 20px 25px 20px 15px;

    .footer-top-line__column a {
      margin: 0 65px 0 0;
    }
  }

  &--three {
    min-width: 410px;
  }
}

.footer-top-line__logo {
  margin: 0 0 47px;
}

.footer-top-line__column h3 {
  margin: 0 0 26px 10px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $additional-color;
}

.footer-top-line__lists-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-top-line__column-inner-wrapper {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 10px 0;
  padding: 0;
  list-style: none;

  a {
    &:hover {
      color: $accent-color;
    }

    &:active {
      opacity: 0.7;
    }

    &:focus {
      outline: 1px dashed $accent-color;
    }
  }
}

.footer-top-line__column a,
.footer-top-line__column span {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: rgba($additional-color, 0.5);
}

.footer-top-line__column > p {
  display: none;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgba($additional-color, 0.5)
}

@media (max-width: $desktop-width) {
  .footer-top-line {
    flex-wrap: wrap;
    padding: 0 0 10px;
  }

  .footer-top-line__column {
    padding: 25px;

    &--one {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 0 0 10px;
      padding: 18px 25px 19px;
      border-bottom: 1px solid rgba($additional-color-two, 0.2);
    }

    &--two {
      min-width: 0;
      padding: 25px 25px 25px 15px;
    }

    &--three {
      padding: 25px 23px 25px 35px;
    }
  }

  .footer-top-line__lists-wrapper {
    flex-direction: column;
  }

  .footer-top-line__column-inner-wrapper {
    max-height: 100%;
  }

  .footer-top-line__logo {
    margin: 0;
  }

  .footer-top-line__column > p {
    display: block;
    margin: 7px 0 0 32px;
  }
}

@media (max-width: $tablet-width) {
  .footer-top-line {
    flex-direction: column;
    align-items: center;
    padding: 45px 0 17px;
  }

  .footer-top-line__column {
    width: 100%;
    margin: 0;
    padding: 0 15px;
    border-bottom: 1px solid rgba($additional-color-two, 0.2);

    &--one {
      flex-direction: column;
      padding: 0 15px 45px;
    }

    &--two {
      max-width: 100%;

      .footer-top-line__column-inner-wrapper {
        padding: 0 10px 0 0;
      }
    }

    &--three {
      min-width: 0;
    }
  }

  .footer-top-line__lists-wrapper {
    padding: 0 0 28px 0;
  }

  .footer-top-line__column-inner-wrapper {
    margin: 0;
    padding: 0 10px 28px 0;
  }

  .footer-top-line__logo {
    margin: 0 0 20px;
  }

  .footer-top-line__column > p {
    margin: 0 0 31px;
  }

  .footer-top-line__column h3 {
    margin: 0;
    padding: 28px 0;
  }
}
