.social-block {
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-block__item {
  margin: 0 16px 0 0;
}

.social-block a{
  &:hover {
    .social-block__svg {
      fill: $accent-color;
    }
  }

  &:active {
    .social-block__svg {
      opacity: 0.7;
    }
  }

  &:focus {
    outline: 1px dashed $accent-color;
  }
}

.social-block svg {
  fill: #cdcdcd;
}

@media (max-width: $desktop-width) {
  .social-block__item {
    margin: 0 0 0 14px;
  }
}

@media (max-width: $tablet-width) {
  .social-block__item {
    margin: 0 8px;
  }
}
