body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: $mobile-width;
  min-height: 100vh;
  margin: 0;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.non-scrolling-block {
  overflow: hidden;
}

.visually-hidden {
  @include visually-hidden;
}

.main-container {
  max-width: 1230px;
  margin: auto;

  @media (max-width: $desktop-width) {
    max-width: 100%;
  }
}
