$max-desktop-width: 1920px;
$desktop-width: 1023px;
$tablet-width: 767px;
$mobile-width: 320px;

$primary-color: #666666;
$secondary-color: #ffffff;
$additional-color: #1b2d37;
$additional-color-two: #626962;
$additional-color-three: #c4c4c4;
$additional-color-four: #ebebeb;
$accent-color: #00b2ff;
$logo-color-one: #203c42;
$logo-color-two: #788891;
$social-icon-color: #cdcdcd;
$footer-background-color: #fafafa;
